.container { 
    font-family: Arial, sans-serif;
    width: 100%;
    max-width: 920px;
    margin: 1 auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
   } 

  .header {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 16px;
  }
  
  .step {
    margin-right: 16px;
    padding: 8px 16px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
  }
  
  .active-step {
    font-weight: bold;
    color: #4a4aff;
    border-bottom: 2px solid #4a4aff;
  }
  

  .content {
    display: flex;
  }

  .sidebar {
    width: 20%;
    background: #f9f9f9;
    padding: 16px;
  }
  
  .sidebar-item {
    display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;
  margin-bottom: 8px;
  border-radius: 4px;
  font-size: 13px;
  font-weight: bold;
  color: #333;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
  }
  
  .sidebar-item:hover {
    background-color: #f0f0f0;
  }
  
  .sidebar-item.selected {
    background-color: #4a4aff;
    color: #fff;
  }
  .arrow {
    font-size: 13px;
    color: inherit;
    margin-left: 30px;
  }
 
  .main-content {
    width:40%;
    padding: 16px;
    background-color: #fff;
  }
  

  .common-fields {
    margin-bottom: 24px;
  }
  
  .field {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    font-size:14px;
  }
  
  .field label {
    width: 150px;
    font-weight: bold;
  }
  
  .field input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  /* .table-container {
  
    margin-top: 16px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    min-height: 200px; 
  } */
  
  /* th,
  td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  th {
    background: #f4f4f4;
    font-weight: bold;
  }
  
  td {
    text-align: center;
  } */
  