.table-container-step2 {
  margin: 2rem auto;
  /* width: 90%; */
  /* max-width: 800px; */
  background-color: #fff;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  border-radius: 8px;
  overflow: hidden;
  border: 1.5px solid lightgray;
  padding: 30px 20px 50px 20px;
}

.step3-table{
  border: none !important;
  padding:0 !important;
}

/* .table-wrapper-step2{
 
} */

.table-container-step2 table {
  width: 100%;
  border-collapse: collapse;
}

.table-container-step2 input[type="text"],input[type="number"] {
  width: 73px;
}



.table-container-step2 th, td {
  padding: 10px;
  text-align: center;
  border: 1px solid #e0e0e0;
}

.table-container-step2 th {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  color: #444;
}

.table-container-step2 td {
  font-size: 14px;
}

.badge {
  /* display: inline-block; */
  padding: 7px 25px;
  border-radius: 5px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

.badge.green {
  background-color: #5CD197;
}

.badge.red {
  background-color: #F85C4C;
}

.badge.orange {
  background-color:  #FD9C3E;
}

input[type="checkbox"] {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

i {
  margin: 0 8px;
  cursor: pointer;
  color: #555;
  transition: color 0.3s;
}

i:hover {
  color: #000;
}

.fa-edit:hover {
  color: #007bff;
}

.fa-trash:hover {
  color: #dc3545;
}

.step2-submit{
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.step2-submit button{
 /* height: 40px; */
 padding: 10px 30px 10px 30px;
 background-color: #007bff;
 color: white;
 border: 1.5px solid lightgray;
 border-radius: 5px;
}